
<h2 class="title">Find your City ?</h2>
<div class="search-city">
    <form id="citySearchForm" (submit)="submitCity()">
    <div class="input-field">
        <input type="text" id="cityInput" placeholder="City..." name="city" [(ngModel)]="city.cityName" required autofocus>
    </div>

    <div class="submit-button">
        <button type="submit">Search</button>
    </div>
    </form>
</div>


<div class="row">
    <div class="cities" *ngFor="let city of cities">
        <h3>{{ city.cityName }}</h3>
    </div>

    <mat-paginator [length]="cities.length" [pageSize]="5" [pageSizeOptions]="[5, 10, 20]"></mat-paginator>

</div>