
<h2 class="title">Find your City ?</h2>
<div class="search-city">
    <form id="citySearchForm" (submit)="submitCity()">
    <div class="input-field">
        <input type="text" id="cityInput" placeholder="City..." name="city" [(ngModel)]="city.cityName" required autofocus>
    </div>

    <div class="submit-button">
        <button type="submit">Search</button>
    </div>
    </form>
</div>


<div class="row">
    <div class="cities" *ngFor="let city of cities | paginate:{
            itemsPerPage: tableSize,
            currentPage:  page,
            totalItems: count}; let i = index">
        <h3>{{ city.cityName }}</h3>
    </div>

    <div>
        <pagination-controls
            previousLabel="Prev"
            nextLabel="Next"
            (pageChange)="onTableDataChange($event)"
        >
        </pagination-controls>
    </div>
</div>