.title {
    margin-top: 60px;
}

.search-city {
    margin-bottom: 200px;
    margin-top: 35px;
}


.input-field {
    position: relative;
    background: #eaeaea;
    border-radius: 5px;
    display: flex;
    align-items: center;
}


.input-field input {
    width: 400px;
    font-size: 20px;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 20px 15px; 
}


.submit-button {
    position: absolute;
    right: 47%;
    margin-top: 40px;
}


.submit-button button {
    font-size: 17px;
    border-radius: 5px;
    background-color: #1976d2;
    color: white;
    cursor: pointer;
    border: 0;
    padding: 10px 20px;
    transition: transform 0.5s;
}


.submit-button button:hover {
    transform: translateY(-6px)
}
